<section>
    <form name="form" ng-submit="register()">
        <fieldset>
            <legend>{{ action }} member form</legend>

            <p class="hint" ng-show="exist">Email is exist</p>
            <div class="form-group">
                <label>Name</label>
                <input name="name" type="text" ng-model="user.name" required>
                <span ng-show="form.name.$touched && form.name.$invalid">The name is required</span>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input name="email" type="email" ng-model="user.email" ng-disabled="{{action=='Edit'?'true':''}}" required>
                <span ng-if="form.email.$error.required">
                    <span ng-show="form.email.$touched && form.email.$invalid">Email is required.</span>
                </span>
                <span ng-if="!form.email.$error.required">
                  <span ng-show="form.email.$touched && form.email.$invalid">Invalid email.</span>
                </span>
            </div>

            <div class="form-group">
                <label>Password</label>
                <input name="password" type="password" ng-model="user.password" required>
                <span ng-show="form.password.$touched && form.password.$invalid">The password is required</span>

            </div>

            <div class="actions">
                <label></label>
                <button ng-disabled="form.password.$invalid ||
  form.email.$invalid || form.name.$invalid">{{ action }}</button>
                <button ng-if="action=='Edit'" ui-sref="all-members">Back</button>
                <label></label>

            </div>
        </fieldset>
    </form>
</section>